<!DOCTYPE html>
<html>
  <head></head>
  
  <body>

    <h1>Buster's Best Bowling Alley</h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>Bowling Alley Lane, Boulder CO</p>
    
  </body>


</html>